- var appName = "Avarda smart shop";
- var title = "Avarda smart shop — зелёный свет для Вашего бизнеса";
- var description = "Автоматически выгружайте базу товаров в магазин-агрегатор и получайте клиентов. Бесплатно.";
- var statusBarColor = "#158700";
- var metrikaId = 12345678;
- var cssFramework = "assets/css/bulma.css";

- var jQueryCDN = true;
- var fontawesomeCDN = true;


doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content=description)
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= title

        //Disable tap highlight on IE
        meta(name="msapplication-tap-highlight", content="no")

        //Web Application Manifest
        link(rel="manifest", href="manifest.json")

        //Add to homescreen for Chrome on Android
        meta(name="mobile-web-app-capable", content="yes")
        meta(name="application-name", content=appName)
        link(rel="icon", sizes="192x192", href="images/touch/chrome-touch-icon-192x192.png")

        //Add to homescreen for Safari on iOS
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="apple-mobile-web-app-title", content=appName)
        link(rel="apple-touch-icon", href="images/touch/apple-touch-icon.png")

        //Tile icon for Win8 (144x144 + tile color)
        meta(name="msapplication-TileImage", content="images/touch/ms-touch-icon-144x144-precomposed.png")
        meta(name="msapplication-TileColor", content=statusBarColor)

        //Color the status bar on mobile devices
        meta(name="theme-color", content=statusBarColor)

        //CSS framework
        if cssFramework
            link(rel="stylesheet", href=cssFramework)

        //TODO refactor temporary stylesheets
        link(rel="stylesheet", href='assets/css/combined.css')

        //if IE
          script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
    body
        .navbar-container
            .container
                nav.navbar.is-transparent
                    .navbar-brand
                        a.navbar-item(href='#')
                            img(src='assets/images/avarda_shop.svg', alt='Avarda smart shop', width="165px")
                        .navbar-burger(data-target="navbar")
                            span
                            span
                            span
                    .navbar-menu#navbar
                        .navbar-end
                            a.navbar-item(href="#possibilities") Возможности
                            a.navbar-item(href="#features") Особенности
                            a.navbar-item(href="#partners") Партнёры
                            a.navbar-item(href="#contacts") Контакты

        header.hero
            .hero-head
            .hero-body.has-vcentered-content
                .container
                    .columns
                        .column.is-9
                        .column.is-3.has-text-centered
                            img(src="assets/images/logo_header.png")
                            h1.title.avardaGreen Зелёный свет для Вашего бизнеса!
            a(href="#possibilities").has-text-white
                .hero-foot.has-text-centered.cellular
                    span.icon.is-large: i.fa.fa-chevron-down

        section.hero.is-fullheight#possibilities
            .hero-body
                .container
                    h1.title.has-text-centered Возможности
                    .columns
                        .column.is-4-desktop.is-6-tablet.content
                            ul.is-marginless-touch.is-markerless
                                li
                                    h2.avardaGreen Предварительный заказ
                                    p.
                                        Вы можете собрать предварительный заказ не выходя из дома
                                li
                                    h2.avardaGreen Интеграция склада
                                    p.
                                        Подключение базы данных по складу из  АVARDA ERP в интернет-магазин Smart.shop
                                li
                                    h2.avardaGreen Личный интернет-магазин
                                    p.
                                        Вы можете создать свой интернет-магазин на базе AVARDA Smart.shop с полной интеграцией
                        .column.is-4.is-hidden-touch.has-vcentered-content
                            .spider
                                img(src="assets/images/spider.png")
                        .column.is-6-tablet.is-4-desktop.content.has-text-right-tablet
                            ul.is-markerless
                                li
                                    h2.avardaGreen Умная тележка
                                    p.
                                        В Smart.shop Вы получаете QR-код заказа, и с помощью умной тележки можете найти все свои покупки
                                li
                                    h2.avardaGreen Подключение личного интернет-магазина
                                    p.
                                        Вы можете подключить свой личный интернет-магазин к Smart.shop, с полной интеграцией товара через AVARDA
                                li
                                    h2.avardaGreen Доставка
                                    p.
                                        Оформляя заказы через Smart.shop, Вы получаете возможность доставки товара по указанному адресу
                    .has-text-centered
                        button.modal-toggle.button.is-warning(data-target='modal') Подключить магазин


            a(href="#features").has-text-white
                .hero-foot.has-text-centered.cellular
                    span.icon.is-large: i.fa.fa-chevron-down
        section.hero.is-fullheight#features
            .hero-body
                .container
                    h1.title.has-text-centered Smart-услуга «умная тележка»
                    .columns
                        .column.is-half.has-vcentered-content
                            .cart
                                img(src="assets/images/cart.jpg", alt="Умная тележка")
                        .column.is-half.content.is-medium
                            ol
                                li.
                                    Заказывая товар в интернет-магазине Smart.shop,
                                    Вам автоматически присваивается номер заказа и QR-код.
                                    Это упрощает процесс покупки в супермаркете.
                                li.
                                    С помощью встроенного дисплея “Умной тележки” можно отсканировать QR-код и получить
                                    всю необходимую информацию о Вашей покупке.
                                li.
                                    Вам не нужно бродить по всему залу, на дисплее будет отображено,
                                    в какой секции и на какой полке находится товар, заказанный через Smart.shop
                                li.
                                    Полная информация о товаре супермаркета, акции и новые выгодные предложения -
                                    всё это Вы сможете получить пользуясь услугами Smart.shop
                    .has-text-centered
                        button.modal-toggle.button.is-warning(data-target='modal') Подключить магазин

            a(href="#partners").has-text-white
                .hero-foot.has-text-centered.cellular
                    span.icon.is-large: i.fa.fa-chevron-down
        section.hero.is-fullheight#partners
            .hero-body
                .container
                    h1.title.has-text-centered Наши партнёры
                    .columns.is-centered
                        .column.is-6-desktop.is-12-mobile.is-8-tablet.star
                            .columns.has-text-centered.is-mobile
                                .column.is-4.has-vcentered-content
                                    a(href="#").has-margin-auto: img(src="assets/images/lider.png", alt="Лидер")
                                .column.is-4
                                    a(href="#").has-margin-auto: img(src="assets/images/baucenter.png", alt="Бауцентр")
                                    img(src="assets/images/logo_header.png", alt="").has-margin-auto
                                .column.is-4.has-vcentered-content
                                    a(href="#").has-margin-auto: img(src="assets/images/polushka.png", alt="Полушка")


            a(href="#contacts").has-text-white
                .hero-foot.has-text-centered.cellular
                    span.icon.is-large: i.fa.fa-chevron-down
        section.hero.is-medium#contacts
            .hero-body
                .container
                    h1.title.has-text-centered.is-spaced Оставить заявку
                    h2.subtitle.has-text-centered.
                        У Вас есть свой интернет магазин, или Вы хотели бы создать его на базе AVARDA Smart.shop?
                        Оставьте свой контактные данные, и мы ответим Вам в ближайшее время
                    form
                        .columns.is-centered
                            .column.is-3
                                .field
                                    .control.has-icons-left
                                        input(type="text", placeholder="Ваше имя").input
                                        span.icon.is-small.is-left: i.fa.fa-user(aria-hidden="true")
                            .column.is-3
                                .field
                                    .control.has-icons-left
                                        input(type="text", placeholder="Телефон").input
                                        span.icon.is-small.is-left: i.fa.fa-phone(aria-hidden="true")
                            .column.is-3
                                .field
                                    .control.has-icons-left
                                        input(type="email", placeholder="E-mail").input
                                        span.icon.is-small.is-left: i.fa.fa-envelope(aria-hidden="true")
                        .has-text-centered
                            button.button.is-warning(type="submit") Подключить магазин

        footer.footer
            .container
                .columns.is-centered.has-text-centered
                    .column.is-2
                        a(href="").has-text-white Партнёры
                    .column.is-2
                        a(href="").has-text-white Школа Smart.shop
                    .column.is-2
                        a(href="").has-text-white Интеграция с Avarda ERP
                    .column.is-2
                        a(href="").has-text-white Контакты
                .socialPages.has-text-centered
                    a.hex.has-text-white(href="#")
                        span.icon.is-large: i.fa.fa-lg.fa-vk
                    .spacer
                    a.hex.has-text-white(href="#")
                        span.icon.is-large: i.fa.fa-lg.fa-facebook
                    .spacer
                    a.hex.has-text-white(href="#")
                        span.icon.is-large: i.fa.fa-lg.fa-twitter
                    .spacer
                    a.hex.has-text-white(href="#")
                        span.icon.is-large: i.fa.fa-lg.fa-telegram
                    .spacer
                //.copyright.has-text-centered.has-text-grey-light © ООО «Ансофт Девелопмент»


        section.modal#modal
            .modal-background.modal-toggle(data-target='modal')
            .modal-content.box
                h1.title.has-text-centered.is-spaced Оставить заявку
                    h2.subtitle.has-text-centered.
                        У Вас есть свой интернет магазин, или Вы хотели бы создать его на базе AVARDA Smart.shop?
                        Оставьте свой контактные данные, и мы ответим Вам в ближайшее время
                form
                    .columns.is-centered.is-multiline
                        .column.is-7
                            .field
                                .control.has-icons-left
                                    input(type="text", placeholder="Ваше имя").input
                                    span.icon.is-small.is-left: i.fa.fa-user(aria-hidden="true")
                        .column.is-7
                            .field
                                .control.has-icons-left
                                    input(type="text", placeholder="Телефон").input
                                    span.icon.is-small.is-left: i.fa.fa-phone(aria-hidden="true")
                        .column.is-7
                            .field
                                .control.has-icons-left
                                    input(type="email", placeholder="E-mail").input
                                    span.icon.is-small.is-left: i.fa.fa-envelope(aria-hidden="true")
                    .has-text-centered
                        button.button.is-warning(type="submit") Отправить
            button.modal-close.is-large.modal-toggle(data-target='modal')


        //jQuery
        if jQueryCDN
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

        //Fontawesome
        if fontawesomeCDN
            script(src="https://use.fontawesome.com/a22168e44f.js")

        // Yandex.Metrika counter
        script.
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter!{JSON.stringify(metrikaId)} = new Ya.Metrika({
                            id: !{JSON.stringify(metrikaId)},
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true,
                            webvisor: true,
                            trackHash: true
                        });
                    } catch (e) {
                    }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () {
                        n.parentNode.insertBefore(s, n);
                    };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else {
                    f();
                }
            })
            (document, window, "yandex_metrika_callbacks"
            )
            ;
        noscript
            div: img(src="https://mc.yandex.ru/watch/" + metrikaId, style="position:absolute; left:-9999px;", alt="")

        //Bulma navbar
        script.
            document.addEventListener('DOMContentLoaded', function () {

                // Get all "navbar-burger" elements
                var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

                // Check if there are any navbar burgers
                if ($navbarBurgers.length > 0) {

                    // Add a click event on each of them
                    $navbarBurgers.forEach(function ($el) {
                        $el.addEventListener('click', function () {

                            // Get the target from the "data-target" attribute
                            var target = $el.dataset.target;
                            var $target = document.getElementById(target);

                            // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                            $el.classList.toggle('is-active');
                            $target.classList.toggle('is-active');

                        });
                    });
                }

            });
        //Bulma modal
        script.
            document.addEventListener('DOMContentLoaded', function () {

                // Get all "open-modal" elements
                var $modalTogglers = Array.prototype.slice.call(document.querySelectorAll('.modal-toggle'), 0);

                // Check if there are any modal-togglers
                if ($modalTogglers.length > 0) {

                    // Add a click event on each of them
                    $modalTogglers.forEach(function ($el) {
                        $el.addEventListener('click', function () {

                            // Get the target from the "data-target" attribute
                            var target = $el.dataset.target;
                            var $target = document.getElementById(target);

                            // Toggle the class on the "modal"
                            $target.classList.toggle('is-active');

                        });
                    });
                }

            });
        //Smooth scroll
        script.
            $(document).on('click', 'a[href^="#"]', function (event) {
                event.preventDefault();

                $('html, body').animate({
                    scrollTop: $($.attr(this, 'href')).offset().top
                }, 500);
            });

